.made {
    background: #212b31;
    position: relative;
    padding-top: 144px;
    margin-top: 144px;
    padding-bottom: 118px;
}

.made__img {
    position: absolute;
    right: 0;
}

.made__title {
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 50px;
}

.made__name {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    margin-bottom: 10px;
    line-height: 24px;
}

.made__description {
    margin: 0;
    font-family: "Inter";
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
}

.made__li {
    position: absolute;
    top: 7px;
    left: -32px;
    background: #ffffff;
    border-radius: 8px;
    width: 8px;
    height: 8px;
}

.made__info {
    width: 589px;
}

.made__item {
    padding-left: 32px;
    margin-top: 24px;
}
.made__footer {
    display: flex;
    margin-top: 127px;
}
.made__box {
    text-align: center;
    margin-left: 18px;
}
.made__box-tittle {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}
.made__box-description {
    width: 340px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}
.made__icon{
    
}
