.promise {
    margin-top: 144px;
}

.promise__title {
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #212b31; 
    width: 781px;
    margin: 0 auto;
}

.promise__suptitle {
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    color: #212b31;
    line-height: 48px;
}

.promise__link {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: #212b31;
    position: relative;
}

.promise__description {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    color: #72787d;
    margin-top: 16px;
    margin-bottom: 26px;
    line-height: 32px;
}

.promise__sector {
    display: flex;
    margin-top: 168px;
}